In [1]:
import pandas as pd
import re
import requests

In [7]:
# API request to determine if any transatlantic flights utilized BGR and,
# if so, display them.
key = #key#
icao = "KBGR"

params1 = {'access_key':key, 'dep_icao':icao}
params2 = {'access_key':key, 'arr_icao':icao}

In [8]:
# Calls with each set of parameters: arrival and departure.
response1 = requests.get("http://api.aviationstack.com/v1/flights", params1)
response2 = requests.get("http://api.aviationstack.com/v1/flights", params2)
data1 = response1.json()
data2 = response2.json()

In [13]:
# Pagination counts to iterate through.
pc1 = data1['pagination']['count']
pc2 = data2['pagination']['count']

In [14]:
# Generating departure records. We use re to split all timezones 
# (featuring format 'Region/City') to derive if there are any TATL movements.
for x in range(pc1):
    l1.append(data1['data'][x]['flight_date'])
    l2.append(data1['data'][x]['departure']['icao'])
    l3.append(data1['data'][x]['arrival']['icao'])
    if data1['data'][x]['arrival']['timezone'] is not None:
        arg1, arg2 = re.split("/", data1['data'][x]['arrival']['timezone'])
        l5.append(arg1)
        l6.append(arg2)
    else:
        l5.append("None")
        l6.append("None")
    if data1['data'][x]['aircraft'] is not None:
        l4.append(data1['data'][x]['aircraft']['iata'])
    else:
        l4.append("None")

In [15]:
# Generating arrival records. Same re process as before.
for y in range(pc2):
    l7.append(data2['data'][y]['flight_date'])
    l8.append(data2['data'][y]['departure']['icao'])
    l9.append(data2['data'][y]['arrival']['icao'])
    if data2['data'][y]['departure']['timezone'] is not None:
        arg3, arg4 = re.split("/", data2['data'][y]['departure']['timezone'])
        l11.append(arg3)
        l12.append(arg4)
    else:
        l11.append("None")
        l12.append("None")
    if data2['data'][y]['aircraft'] is not None:
        l10.append(data2['data'][y]['aircraft']['iata'])
    else:
        l10.append("None")

In [16]:
# Much easier to work through functions than do it manually each time.
def frame(array):
    array = pd.Series(array)
    array = pd.DataFrame(array).reset_index(drop=True)
    return array

In [17]:
# Ya been framed, lists. 
l1 = frame(l1)
l2 = frame(l2)
l3 = frame(l3)
l4 = frame(l4)
l5 = frame(l5)
l6 = frame(l6)
l7 = frame(l7)
l8 = frame(l8)
l9 = frame(l9)
l10 = frame(l10)
l11 = frame(l11)
l12 = frame(l12)

In [18]:
# Departure dataframe.
df1 = pd.concat([l1, l2, l3, l4, l5, l6], axis=1)
df1.columns = ['Date','DEP','ARR','Airline','TZ1','TZ2']
df1 = df1[df1.TZ1 == "Europe"]
df1 = df1[['Date','DEP','ARR']]

In [19]:
# Arrival dataframe.
df2 = pd.concat([l7, l8, l9, l10, l11, l12], axis=1)
df2.columns = ['Date','DEP','ARR','Airline','TZ1','TZ2']
df2 = df2[df2.TZ1 == "Europe"]
df2 = df2[['Date','DEP','ARR']]

In [20]:
# Joining the two on like columns.
df = df1.append(df2)

In [22]:
# Is it worth looking at the dataframe? Only if there is a dataframe.
if len(df) > 0:
    print("Records")
else:
    print("No Records")

Records

In [23]:
# There is, so we will. Rotterdam and Belfast departures on 5/9 and 5/10. 
df

          Date   DEP   ARR
18  2021-05-10  KBGR  EGAA
26  2021-05-09  KBGR  EHRD