In [3]:
import pandas as pd
import sqlite3 as sql
connection = sql.connect("chinook.db")
cursor = connection.cursor()

In [5]:
query = cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

In [12]:
query_seq = cursor.execute("SELECT * from sqlite_sequence")
print(query_seq.fetchall())

[('genres', 25), ('media_types', 5), ('artists', 275), ('albums', 347), ('tracks', 3503), ('employees', 8), ('customers', 59), ('invoices', 412), ('invoice_items', 2240), ('playlists', 18)]

In [17]:
q1 = cursor.execute("SELECT Company FROM Customers WHERE Company IS NOT Null")
q1 = pd.DataFrame(q1.fetchall())
q1.columns = ['Company']

In [18]:
q1

                                            Company
0  Embraer - Empresa Brasileira de Aeronáutica S.A.
1                                  JetBrains s.r.o.
2                                  Woodstock Discos
3                              Banco do Brasil S.A.
4                                            Riotur
5                                             Telus
6                                     Rogers Canada
7                                       Google Inc.
8                             Microsoft Corporation
9                                        Apple Inc.